<section
  class="summary-card"
  [style.--active-color]="activeColor"
>
  <h2>Resumen del servicio</h2>

  <div
    class="empty-summary"
    *ngIf="selectedItems.length === 0"
  >
    Aún no has seleccionado servicios.
  </div>

  <div
    class="summary-row"
    *ngFor="let item of selectedItems"
  >
    <div>
      <span>{{ item.name }}</span>
      <small>{{ item.groupName }}</small>
    </div>

    <strong>
      ${{ item.price.toFixed(2) }}
    </strong>
  </div>

  <div
    class="client-total"
    *ngIf="selectedItems.length > 0"
  >
    <span>Total a pagar</span>

    <strong>
      ${{ total.toFixed(2) }}
    </strong>
  </div>

  <button
  type="button"
  class="save-btn"
  [disabled]="
    selectedItems.length === 0 ||
    saving
  "
  (click)="openSummary()"
>
  <ng-container *ngIf="!saving">
    Ver resumen
    <i class="fa-solid fa-arrow-right"></i>
  </ng-container>

  <ng-container *ngIf="saving">
    <i class="fa-solid fa-spinner fa-spin"></i>
    Guardando...
  </ng-container>
</button>x
</section>