<header class="navbar">

  <div class="left">

    <div class="search">

      <i class="fa-solid fa-magnifying-glass"></i>

      <input
        type="text"
        placeholder="Buscar..."
      />

    </div>

  </div>

  <div class="right">

    <button class="icon-btn">
      <i class="fa-regular fa-bell"></i>
    </button>

    <button class="icon-btn">
      <i class="fa-regular fa-envelope"></i>
    </button>

    <div class="profile">

      <div class="avatar">
        K
      </div>

      <div class="info">

        <strong>Kathy</strong>

        <small>Administrador</small>

      </div>

    </div>

  </div>

</header>